[Unit]
Description=DP Connect Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/opt/DPConnect/bin/DPConnect-service

[Install]
WantedBy=multi-user.target
